html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color:white;
  color:black;
  font-family: 'Roboto Condensed', sans-serif;
}
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header{
flex:0.1;
background-color: antiquewhite;
    justify-content: center;
    display: flex;
    align-items: center;
}

#ct{
      display: flex;
    flex-wrap: wrap;
}
.main{
flex:0.8;
background-color: white;

display: flex;
}

.pod{
  border:1px solid;
  width:25%;
  height:30%;
      margin: 1%;
}
.leftNav{
  flex:0.1;
      background-color: gray
}
.rightNav{
  flex:0.1;
  background-color: gray
}
.content{
  flex:0.8;
}

.footer{
flex:0.1;
    background-color: aquamarine;
}
#hello {
  color:black;
  font-family: 'Roboto Condensed', sans-serif;
}

.form{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0.5%;
    border: 1px solid gray;
}

.inputGroup{
  display: flex;
flex-direction: row;

    justify-content: space-around;
padding: 3%;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media screen and (min-width: 1281px) {
  

  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media  screen and  (min-width: 1025px) and (max-width: 1280px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media  screen and  (min-width: 768px) and (max-width: 1024px) {
  
#hello {
  background-color: gray;
  color:blue;
  font-family: 'Roboto Condensed', sans-serif;
}
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media  screen and  (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  

  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media  screen and  (min-width: 481px) and (max-width: 767px) {
  
#hello {
  background-color: gray;
  color:green;
  font-family: 'Roboto Condensed', sans-serif;
}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media  screen and  (min-width: 320px) and (max-width: 480px) {
  

  
}